{% extends 'admin/model/details.html' %}

{% block brand %}
    <h4 id="brand" style="width:200px"> * {{ admin_view.name|capitalize }}</h4>
    <style>.container {width: 96%;}</style>
{% endblock %}


{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}


{{ super() }}


