{% extends 'admin/model/edit.html' %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='jsoneditor.js') }}"></script>
{% endblock %}

{% block brand %}
    <h4 id="brand" style="width:200px"> * {{ admin_view.name|capitalize }}</h4>
    <style>.container {width: 100%;}</style>
{% endblock %}

{% block access_control %}
    {% if current_user.is_authenticated %}
    <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}

{{ super() }}

{% block edit_form %}

{% with form=form %}
    {% include "admin/json_form.html" %}
{% endwith %}

{% endblock edit_form %}

{% block tail %}
    {% if admin_view.name in ('Task', 'Claim', 'Improvement') %}

    <script type="text/javascript" >

        var g_original_content_style;
        var refresh_preview = function(result, status, xhr) {
            document.getElementById('content_preview').innerHTML = result.responseText;
            document.getElementById('content_preview').hidden = false;
            document.getElementById('content').hidden = true;
            document.getElementById('content').style = "display:none;";

            console.log("refresh_preview() g_original_content_style=" + g_original_content_style);
        }

        var preview_button_clicked = function() {
            if (document.getElementById('content_preview').hidden) {
                var data = {'content': document.getElementById('content').value};
                $.ajax({
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: refresh_preview,
                    error: refresh_preview,
                    contentType: "application/json",
                    timeout: 5000,
                    url: '/markdown_to_html',
                    method: 'POST'
                });
            } else if (document.getElementById('content').hidden) {
                document.getElementById('content').hidden = false;
                document.getElementById('content').style.cssText = g_original_content_style;
                document.getElementById('content_preview').hidden = true;
            }
            console.log("preview_button_clicked()");
        };

        var init = function() {

            document.getElementById("preview_content_button").onclick = preview_button_clicked;

            var e_a = document.getElementById("formatted_attach_names");
            var div_ = document.createElement("div");
            div_.innerHTML = "";
            if (e_a) {
                e_a.value = "";
                {% for name in model.formatted_attach_names %}
                    div_.innerHTML += '<a class="form-control" href="' + "{{url_for('attachment', filename=name)}}" + '"> [{{ name }}]({{url_for('attachment', filename=name)}}) </a> ';
                {% endfor %}
            }
            e_a.parentNode.appendChild(div_);
            g_original_content_style = document.getElementById('content').style.cssText;
            e = document.createElement('div')
            e.id = 'content_preview';
            e.hidden = true;
            e.setAttribute("style", "background:#FFFFEE; border:dashed #333333 1px;");
            document.getElementById('content').parentNode.appendChild(e);

            var container_attm_form = document.createElement("div");
            container_attm_form.innerHTML = "";
            if (e_a) {
                container_attm_form.innerHTML += '<form id="upload-file" method="post" enctype="multipart/form-data"> \
                    <fieldset> \
                        <label for="file[]">Select a file(s)</label> \
                        <input id="multiFiles" name="file[]" type="file" multiple="true"> \
                    </fieldset> \
                    <fieldset> \
                        <button id="upload-file-btn" type="button">Upload</button> \
                    </fieldset> \
                    <p id="msg"></p> \
                </form>'

                e_a.parentNode.appendChild(container_attm_form);
            }

            $(function() {
                $('#upload-file-btn').click(function() {
                    var form_data = new FormData($('#upload-file')[0]);
                    var ins = document.getElementById('multiFiles').files.length;
                    if(ins == 0) {
                        $('#msg').html('<span style="color:red; font-weight: bold;">Select at least one file !</span>');
                        return;
                    }

                    var url_search = window.location.search
                    var url_params = new URLSearchParams(url_search)

                    var model_id = url_params.get('id')
                    var model_name = url_params.get('url')

                    if (model_name.includes("?")){
                        // remove filters from url
                        // e.g. /task/?flt0_assignee_user_name_equals=admin&flt1_status_not_in_list=closed%2Cinvalid
                        model_name = model_name.split('?')[0]
                    }

                    form_data.append('id', model_id)
                    form_data.append('model', model_name.replace(/\//g, ''))
                    console.debug('files: ', document.getElementById('multiFiles').files)
                    console.debug('model name: ', url_params.get('url'))
                    console.debug('model id: ', url_params.get('id'))
                    $.ajax({
                        type: 'POST',
                        url: '/ajax_upload_attachments',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        async: false,
                        success: function(data) {
                            console.log('Success!');
                            console.debug(data.html_response)
                            console.debug(data.responseJSON)
                            if(e_a && data.html_response && data.message){
                                $('#msg').html('<span style="color:green; font-weight: bold;">'+data.message+'</span>');
                                div_.innerHTML += data.html_response
                            }
                        },
                        error: function(data) {
                            console.log('Error!');
                            console.debug(data.responseJSON.message)
                            if(e_a && data.responseJSON.message){
                                $('#msg').html('<span style="color:red; font-weight: bold;">ERROR! '+data.responseJSON.message+'</span>');
                            } 
                        },
                    });
                });
            });


            console.log("init()");
        }

        init();

    </script>

    {% endif %}
{% endblock tail %}


