

{%- macro selector_01(id_, title, projects=[], orders=[], users=[], action="", target="_self", method='POST') -%}

    <label for="selector_01_form"> {{ title }} </label>
    <form id="{{ id_ }}"name="selector_01_form" action="{{ action }}" target="{{ target }}" method="{{ method }}">
        <label for="selected_project"> Project: </label>
        <select class="form-control" id="selected_project" name="selected_project">
            <option name="any">any</option>
            {% for p in projects %}
            <option name="{{ p }}">{{ p }}</option>
            {% endfor %}
        </select>
        <label for="selected_order"> Order: </label>
        <select class="form-control" id="selected_order" name="selected_order">
            <option name="any">any</option>
            {% for o in orders %}
            <option name="{{ o }}">{{ o }}</option>
            {% endfor %}
        </select>
        <label for="selected_user"> User: </label>
        <select class="form-control" id="selected_user" name="selected_user">
            <option name="any">any</option>
            {% for o in users %}
            <option name="{{ o }}">{{ o }}</option>
            {% endfor %}
        </select>
        <label for="since"> since: </label>
        <input type="date" class="form-control" id="since" name="since">
        </input>
    </form>

{%- endmacro -%}
