{% extends 'admin/master.html' %}

{% block brand %}
    <h4 id="brand" style="width:200px"> Flask Tracker </h4>
    <div>ver.: {{ version }} </div>
    <style>.container {width: 100%;}</style>
    <style>.page-alfa {background-color: #FFF7DD;}</style>
{% endblock %}


{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
    </ul>
<hr></hr>
<div> {{ time }}
{% if current_user.is_admin %}
    {% if supervisor_web_port %}
        <script language="JavaScript">
            var html_ = '<a title="open process-supervisor interactive page" href="'
            html_ += window.location.protocol + '//' 
            html_ += window.location.hostname + ':{{ supervisor_web_port }}/" >{{ "Supervisor Control Page" }}</a>'
            document.write(html_);
       </script>
    {% endif %}
{% endif %}
</div>

</div>
{% endif %}
{% endblock %}


{% block body %}

{{ super() }}

    <div>
        {% if current_user.is_authenticated %}
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>

{% if current_user.is_authenticated %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 table-responsive">
                <label> default fitered views:</label>
                <table class="table table-striped table-bordered table-hover model-list">
                    {% for (title, filtered_views) in (('task views', task_filtered_views), ('worked hours views', worktime_filtered_views)) %}
                        <thead>
                            <tr><th class="col-md-4">{{ title }}</th></tr>            
                        </thead>   

                        {% for a, b in filtered_views %}
                        <tr>
                            <td class="col-md-1"> 
                                <a href="{{ b }}">{{ a }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="col-md-1"> 
                        <form action="/view_hours_of_week">
                            <label for="selected_week">View Worked Hours in Selected Week:</label>
                            <input type="week" id="selected_week" name="selected_week" value="{{week}}">
                            <button class="btn-primary form-control" type="submit" onclick="view_week_hours_btn_clicked();">View Hours</button>
                        </form>
                        </td>
                    </tr>
                </table>            
            </div>
            <div class="col-sm-4 table-responsive">
                <label for="filtered_views_form"> more fitered views  </label>
                <form id="filtered_views_form" method="GET">
                    <input type="hidden" id="model_name" name="model_name" value="task">
                    </input>
                    <label for="selected_user"> Department: </label>
                     <select multiple class="form-control" id="department" name="department">
                        {% for o in departments %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <label for="category"> Category: </label>
                    <select multiple class="form-control" id="category" name="category">
                        {% for o in categories %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <label for="selected_user"> Assignee: </label>
                    <select multiple class="form-control" id="assignee_user_name" name="assignee_user_name">
                        {% for o in users %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <label for="project_name"> Project: </label>
                    <select multiple class="form-control" id="project_name" name="project_name">
                        {% for o in projects %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <label for="milestone_milestone_name"> Milestone: </label>
                    <select multiple class="form-control" id="milestone_milestone_name" name="milestone_milestone_name">
                        {% for o in milestones %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <label for="selected_order"> Order: </label>
                    <select multiple class="form-control" id="order_order_name" name="order_order_name">
                        {% for o in orders %}
                        <option name="{{ o }}">{{ o }}</option>
                        {% endfor %}
                    </select>
                    <p>
                        <div class="row">
                        <div class="col-sm-6"><button type="submit" formaction="/filtered_view" class="form-control btn-primary">view task list</button></div>
                        </div>
                        <hr></hr>
                    </p>
                </form>
            </div>
            <div class="col-sm-4 table-responsive">

                <label for="add_task_button"> Add a New task </label>
                <div>
                    <button name="add_task_button" class="form-control btn-primary" onclick="window.open('/task/new/');"> New Task </button>
                </div>

                <hr></hr>
                <hr></hr>

                <label for="add_work_hrs_form"> Add Working Hours </label>
                <form name="add_work_hrs_form" action="/add_a_working_time_slot" method='GET' id="add_work_hrs_form">
                <label for="selected_task"> Task (tasks in progress, assigned to you): </label>
                    <select class="form-control" name="selected_task" id="selected_task">
                        {% for t in assigned_task_names %}
                        <option name="{{ t }}">{{ t }}</option>
                        {% endfor %}
                    </select>
                    <label for="hours_to_add"> hours: </label>
                    <input class="form-control" name="hours_to_add" id="hours_to_add" type="number" step="0.5" value="0"></input>
                    <label for="date"> date: </label>
                    <input class="form-control" name="date" type="date" value="" id="input_date"></input>
                    <button class="form-control btn-primary" type="submit" onclick="add_hours_btn_clicked();">Add Hours</button>
                </form>

            </div>
        </div>
        <hr></hr>
        <div class="row">
            <div class="col-sm-2 table-responsive">
                <button class="form-control btn-primary" onclick="reports_btn_clicked();" hidden>Reports</button>
            </div>
        </div>
    </div>

<script>

    var view_milestones_btn_clicked = function(){
//~         var url = "/gantt";
//~         var title = "Gantt";
//~         var options = "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,top="+(80)+",left="+(120);
//~         var win = window.open(url, title, options);
    }

    var reports_btn_clicked = function(){
        var url = "/report";
        var title = "Report";
        var options = "toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,top="+(80)+",left="+(120);
        var win = window.open(url, title, options);
    }
    var add_hours_btn_clicked = function(){
        var hours_to_add = document.getElementById('hours_to_add').value;
        var selected_task = document.getElementById('selected_task').value;
        document.getElementById('add_work_hrs_form').action = "javascript:void(0)";
        if (hours_to_add <= 0) {
            alert("invalid number of hours");
        } else if (!selected_task) {
            alert("invalid task selected");
        } else {
            if (confirm('confirm adding hours?')) {
                document.getElementById('add_work_hrs_form').action = "/add_a_working_time_slot";
            } else {
                document.getElementById('add_work_hrs_form').action = "javascript:void(0)";
            }
        }
    }

    var init = function(){
        document.getElementById('input_date').valueAsDate = new Date();
    }
    init();

</script>

{% endif %}

{% endblock body %}
