{% extends 'admin/master.html' %}

{% block brand %}
    <style>.container {width: 96%;}</style>
    <h4 id="brand" style="width:200px"> * Flask Tracker *</h4>
{% endblock %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}

{% block body %}

<style>
    .container {width: 96%;}
    .page-alfa {
        border: 1px solid #CCCCCC;'
        background-color: #FFEECC;'
    }
</style>

{{ super() }}

    <div>
        {% if current_user.is_authenticated %}
            <div> <h4>Flask Tracker</h4> </div>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
            {{ f.label }}
            {{ f }}
            {% if f.errors %}
            <ul>
                {% for e in f.errors %}
                <li>{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {{ link | safe }}
        {% endif %}
    </div>


<div class="container-fluid page-alfa">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3 table-responsive">

            <table class="table table-striped table-bordered table-hover model-list">
                <thead>
                    <tr>
                        <th class="col-md-4">
                        </th>
                    </tr>            
                    <tr>
                        <th class="col-md-4">filtered task views</th>
                    </tr>            
                </thead>            

                {% for a, b in filtered_views %}
                <tr>
                    <td class="col-md-1"> 
                        <a href="{{ b }}">{{ a }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>            
        </div>
        <div class="col-sm-2 table-responsive">

            <form action="/add_a_working_time_slot" method='GET'>
            <label for="selected_task"> Add a Working Hours to Task: </label>
            <select class="form-control" name="selected_task">
                {% for t in assigned_task_names %}
                <option name="{{ t }}">{{ t }}</option>
                {% endfor %}
            </select>
            <button class="form-control" type="submit">add</button>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
