<!-- <div id="editor_holder"></div> -->
<div id="json-editor-form"></div>

{{ lib.render_form(form, return_url, extra(), form_opts) }}

{% if form.extra_args is defined and form.extra_args.get('jsonvalue') %}
    <script>

        var jsonvalue = {{ form.extra_args.get('jsonvalue', 'null')|safe }};
        var jsonschema = {{ form.extra_args.get('jsonschema', 'null')|safe }};
        console.debug('jsonvalue: ', jsonvalue)
        console.debug('jsonschema: ', jsonschema)

        if (jsonschema){

            var jsonEditorForm = document.querySelector('#json-editor-form')
            var jsoneditor = null

            data =  {
                "options": {
                    "iconlib": "fontawesome3",
                    "object_layout": "normal",
                    "schema": jsonschema,
                    "show_errors": "interaction",
                    "theme": "bootstrap3",
                    "required_by_default": false,
                    "display_required_only": false,
                    "show_opt_in": false,
                    "no_additional_properties": false,
                    "ajax": true,
                    "disable_edit_json": true,
                    "disable_collapse": false,
                    "disable_properties": true,
                    "disable_array_add": false,
                    "disable_array_reorder": false,
                    "disable_array_delete": false,
                    "enable_array_copy": false,
                    "array_controls_top": false,
                    "disable_array_delete_all_rows": false,
                    "disable_array_delete_last_row": false
                }
            }
            
            // new instance of JSONEditor
            jsoneditor = new window.JSONEditor(jsonEditorForm, data.options)

            // Validate
            var errors = jsoneditor.validate();
            if(errors.length) {
                console.log('validation errors: ' + errors);
            }

            // Set the default value
            if(jsonvalue){
                jsoneditor.setValue(jsonvalue)
            }

            jsoneditor.on("change",  function() {
              var val = jsoneditor.getValue();
              var el = document.getElementById("json_info");
              console.log("editor on change, val:" + val);
              el.value = JSON.stringify(val, null, 2);
            });

        }
    </script>
{% endif %}
