{% extends 'admin/model/list.html' %}

{% block brand %}
    <h4 id="brand" style="width:200px"> * {{ admin_view.name|capitalize }}</h4>
    <style>.container {width: 100%;}</style>
{% endblock %}


{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}


{% block list_row_actions %}
  {{ super() }}
    
    {% for url, text, span_class, target, confirm_msg, title in admin_view.custom_row_actions|list %}
        <a href="{{url}}?id={{ get_pk_value(row) }}" 
            class="icon {{span_class}}"
            target="{{target}}" title="{{ title }}"
            onclick="return confirm('{{ confirm_msg }}');">
            {{ text }}
            <span ></span>
        </a>

    {% endfor %}

{% endblock %}


