<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FT Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reports.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='reports.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='easepick.min.js') }}"></script>
  </head>

  <body>

    <div class="sidenav">
      <a href="javascript:showTasksByStatus();">Status Tasks</a>
      <a href="javascript:showClaimsByStatus();">Status Claim</a>
      <a href="javascript:showProjectsWorktimes();">Projects Wortimes</a>
    </div>

    <div class="main">
      <div id="filters">
        <div id="wrapper-filters">
          <div id="wrapper-filter-project" class="filter">
            <label for="filter-by-project">
              Filter by project
            </label>
            <br>
            <select id="filter-by-project" class="js-example-placeholder-multiple js-states form-control" style="width: 400px" multiple="multiple">
            </select>
          </div>
          <div id="wrapper-filter-milestone" class="filter">
            <label for="filter-by-milestone">
              Filter by milestones
            </label>
            <br>
            <select id="filter-by-milestone" class="js-example-placeholder-multiple js-states form-control" style="width: 400px" multiple="multiple">
            </select>
          </div>

          <br>

          <div id="wrapper-filter-startdate" class="filter filter-row2 filter-date">
            <label for="filter-by-startdate">
              Filter by start date range
            </label>
            <br>
            <input id="datepicker-startdate"/>
          </div>
          <div id="wrapper-filter-duedate" class="filter filter-row2 filter-date">
            <label for="filter-by-duedate">
              Filter by due date range
            </label>
            <br>
            <input id="datepicker-duedate"/>
          </div>
          <br>
          
        </div>
        <div id="wrapper-btn-filters">
          <button type="button" class="filters_btn" onclick="applyFilter()">Apply Filters</button>
          <button type="button" class="filters_btn" onclick="resetFilter()">Reset Filter</button>
        </div>
      </div>
      <div class="flex-container">
        <table id="table-status-tasks">
          <tbody></tbody>
        </table>
        <div id="canvas-holder" style="width:40%;">
          <canvas id="chart-area" />
        </div>
      </div>
      <div>
        <table id="table-results">
          <thead></thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <div id="loading-container">LOADING ...</div>
    <script type="text/javascript">
      console.debug('script at the end of the body')
      const easepickCssUrl = "{{ url_for('static', filename='easepick.css') }}"

    </script>
  </body>
</html>
%