{% extends 'admin/model/edit.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout') }}">Log out</a></li>
    </ul>
</div>
{% endif %}
{% endblock %}


{% block head_meta %}

    <script type="text/javascript" src="/static/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/lib/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/lib/markitup/sets/default/set.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/lib/markitup/skins/markitup/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/markitup/sets/default/style.css" />

{% endblock head_meta %}

{% block brand %}
    <style>.container {width: 96%;}</style>
    <h4 id="brand" style="width:200px"> * {{ admin_view.name|capitalize }}</h4>
{% endblock brand %}


{{ super() }}

{% block tail %}

    <script type="text/javascript" >
       $(document).ready(function() {
//~           $("#content").class = "";
          $("#content").markItUp(mySettings);
       });
    </script>


{% endblock tail %}

